.rounded-text-info-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 50px;
    background-color: var(--dark-grey);
    box-shadow: 1px 3px 2px rgb(0 0 0 / 42%);
}