body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --dark-grey: #28272c;
  --black: #1A191E;
  --light-grey: #3F4043
}
