.frequence-roll-main-container {
    display: flex;
    flex: 1;
    height: 100%;
    background-color: var(--light-grey);
    box-shadow: 2px 2px 4px rgb(0 0 0 / 42%);
    border-radius: 10px;
    align-items: center;
}

.frequence-roll-border-container {
    display: flex;
    flex: 16;
    height: 100%;
    align-items: center;
    overflow-x: auto;
}

.piano-roll-main-container {
    display: flex;
    position: relative;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: var(--light-grey);

    border-radius: 10px;

    overflow: auto;
}

.frequence-roll-main-container-loading {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.blinking-effect {
    text-align: center;
    animation: blink 3s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: .6;
    }
    100% {
        opacity: 1;
    }
}
