.frequence-roll-main-container {
    display: flex;
    flex: 1;
    height: 90%;
    background-color: var(--dark-grey);
    box-shadow: 2px 2px 4px rgb(0 0 0 / 42%);
    border-radius: 10px;
}

.frequence-roll-border-container {
    display: flex;
    flex: 2;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.frequence-roll-piano-notes-container {
    display: flex;
    width: 100%;
    border-radius: 10px;
    overflow: auto;
    height: 100%;
    background-color: var(--light-grey);
    position: relative;
}

.frequence-roll-piano-notes-container canvas {
    position: absolute;
}