.piano-tiles-container {
    display: flex;
    flex: 1;

    height: 100%;

    background-color: var(--light-grey);

    box-shadow: 2px 2px 4px rgb(0 0 0 / 42%);

    border-radius: 10px;

    overflow-y: auto;
}
