.upload-file-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}


.upload-file-dropzone {
    width: 100%;
    height: 100%;
    background-color: var(--light-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50px;
    font-size: 16px;
    gap: 1rem;
    padding: 0.6rem 1rem;
}