.user-audio-source-input-main-container {
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    gap: 1rem;
}

.user-audio-source-input-border-container {
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
}

.upload-and-record-border-container {
    display: flex;
    flex: 0.5;
    height: 100%;
    align-items: center;
    /*width: 100%;*/
    justify-content: center;
    background-color: var(--dark-grey);
    border-radius: 10px;
    box-shadow: -2px 4px 2px rgb(0 0 0 / 42%);
    box-sizing: border-box;
    padding: 0.2rem;
    position: relative;
}

.upload-and-record-main-container {
    display: flex;
    height: 90%;
    width: 98%;
    border-radius: 10px;
    background-color: #1A191E;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-sizing: border-box;
    z-index: 6;
    position: relative;
}

.custom-audio-player-main-container {
    display: flex;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 42%);
    border-radius: 10px;
    background-color: var(--dark-grey);
    height: 90%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.custom-audio-player-border-container {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
}